################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CITVoice_AuthCallPilot/CopilotIndices/17.14.794.21998
/.vs/CITVoice_AuthCallPilot/v17/.wsuo
/AuthCallPilot/.vs/AuthCallPilot/FileContentIndex
