################################################################################
# Visual Studio
################################################################################

.vs/

################################################################################
# Build output
################################################################################

bin/
obj/
publish/

################################################################################
# Visual Studio user-specific files
################################################################################

*.suo
*.user
*.userosscache
*.sln.docstates
*.wsuo

################################################################################
# Visual Studio / Copilot temporary database files
################################################################################

*.db-shm
*.db-wal